
header {
    text-align: center;
}

header img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
}

#principal form {
    background-color: white; 
    justify-content: space-evenly;   
}

#principal form .pt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principal form .pt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#principal form .pt1 label {
    margin: 14px;
    font-weight: bold;
    margin-right: 50px;
    
}

#principal form .pt1 input {
    border: 1px solid black;
    border-radius: 8px;
    height: 22px;
    width: 350px;
}

button {
    margin-top: 36px;
    height: 44px;
    background-color: rgb(166, 228, 105);
    font-weight: bold;
    width: 250px;
}